h1 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

p {
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 3px;
}

.main-button {
    display: block;
    height: 120px;
    width: 500px;
    padding-top: 30px;
    background-color: #272727;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}

.main-button:hover {
    background-color: #373737;
    cursor: pointer;
}

.comment-form {
    width: 64%;
    margin-left: -12px;

    .name-form {
        width: 100%;
        height: 30px;
        background-color: #484848;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-bottom: 15px;
        border: none;
        color: white;
        padding-left: 15px;
    }

    .content-form {
        width: 100%;
        height: 80px;
        background-color: #484848;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: none;
        color: white;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }

    input[type=submit] {
        float: right;
        border-radius: 15px;
        background-color: #484848;
        color: white;
        width: 80px;
        height: 30px;
    }

    .number {
        width: 100%;
        height: 30px;
        background-color: #484848;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-bottom: 15px;
        border: none;
        color: white;
        padding-left: 15px;
    }

    .dates {
        width: 100%;
        height: 30px;
        background-color: #484848;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-bottom: 15px;
        border: none;
        color: white;
        padding-left: 15px;
    }
}

.comment {
    width: 65%;
    max-width: 65%;
    margin-top: 30px;
    margin-bottom: -10px;
    text-align: left;
    background-color: #484848;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    
    .usrndate {
        max-width: 100%;
        padding: 15px;
        padding-left: 30px;
        text-align: left;
    }

    .content {
        max-width: 100%;
        padding-left: 30px;
        padding-bottom: 25px;
        text-align: left;
    }
}

footer {
    background-color: #1A1A1A;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #767676;
}

.intro {
    background-color: #1a1a1a;
    max-width: 100%;
    color: white;
    text-align: center;
    padding: 45px;
    padding-top: 100px;
}